In [2]:
import numpy as np
import pandas as pd

In [22]:
### Read in data:
tr_headers = ["index", "word", "pos_tag"]
train_df = pd.read_csv("./data/train", sep="\t", header=None)
train_df.columns = tr_headers

dev_df = pd.read_csv("./data/dev", sep="\t", header=None)
dev_df.columns = tr_headers

test_headers = ["index", "word"]
test_df = pd.read_csv("./data/test", sep="\t", header=None)
test_df.columns = test_headers

0          1
1          2
2          3
3          4
4          5
          ..
912090    22
912091    23
912092    24
912093    25
912094    26
Name: index, Length: 912095, dtype: int64

### 1) Vocabulary Creation:

In [34]:
cnt_fake = {}
cnt_fake[("poo",1)] = 1
if ("poo", 1) in cnt_fake:
    print("true")
cnt_fake

true

{('poo', 1): 1}

In [41]:
train_df

        index       word pos_tag
0           1     Pierre     NNP
1           2     Vinken     NNP
2           3          ,       ,
3           4         61      CD
4           5      years     NNS
...       ...        ...     ...
912090     22         to      TO
912091     23        San     NNP
912092     24  Francisco     NNP
912093     25    instead      RB
912094     26          .       .

[912095 rows x 3 columns]

In [43]:
# Get the count of each word:
cnt_d = {}
for row in train_df.iterrows():
    if (row[1]["word"], row[1]["index"]) in cnt_d:
        cnt_d[(row[1]["word"], row[1]["index"])] += 1
    else:
        cnt_d[(row[1]["word"], row[1]["index"])] = 1

In [46]:
# Create unknown key:
threshold = 3
unknown_cnt = 0
for k, v in cnt_d.items():
    if v < threshold:
        unknown_cnt += v
    else:
        continue
cnt_d["< unk >"] = unknown_cnt

In [ ]:
# Write to vocab text: